### Индексирование в Pandas – несколько примеров

#### Пример 1. Аналогия – списки в Python.

Схожее поведение, которое мы увидим в Pandas, – со списками в обычном Python:

In [122]:
a = [1, 2, 3, 4]
b = a
print('a: ', a)
print('b: ', b)

a:  [1, 2, 3, 4]
b:  [1, 2, 3, 4]

In [123]:
id(a)

140613874117056

In [124]:
id(b)

140613874117056

Видим, что списки указывают на одинаковое место в памяти.

In [125]:
# Изменим второй список
b.append(5)

In [126]:
print('a: ', a)
print('b: ', b)

a:  [1, 2, 3, 4, 5]
b:  [1, 2, 3, 4, 5]

Изменился и первый список! Это произошло, потому что переменные указывают на одинаковое место в памяти!

In [127]:
# Изменим тип переменной b. Её место в памяти изменится
b = 5

In [128]:
print('a: ', a)
print('b: ', b)

a:  [1, 2, 3, 4, 5]
b:  5

In [129]:
id(a)

140613874117056

In [130]:
id(b)

4334037472

#### Пример 2. Индексирование в Pandas, которое не изменяет оригинальную таблицу.

In [131]:
import pandas as pd
df = pd.DataFrame({'a' : [1, 2, 3], 'b': [4, 5, 6]})
df

   a  b
0  1  4
1  2  5
2  3  6

In [132]:
a = df.iloc[:2, [0, 1]]
a

   a  b
0  1  4
1  2  5

In [133]:
a.iloc[0, 0] = 100

In [134]:
a

     a  b
0  100  4
1    2  5

In [135]:
df

   a  b
0  1  4
1  2  5
2  3  6

#### Пример 3. Индексирование в Pandas, которое изменяет оригинальную таблицу.

In [136]:
df

   a  b
0  1  4
1  2  5
2  3  6

In [137]:
a = df['a']
a

0    1
1    2
2    3
Name: a, dtype: int64

In [138]:
a[0] = 10000

In [139]:
a

0    10000
1        2
2        3
Name: a, dtype: int64

In [140]:
df

       a  b
0  10000  4
1      2  5
2      3  6

#### Пример 4. Безопасное индексирование в Pandas.

In [141]:
df

       a  b
0  10000  4
1      2  5
2      3  6

In [142]:
a = df['a'].copy()
a

0    10000
1        2
2        3
Name: a, dtype: int64

In [143]:
a[0] = -500
a

0   -500
1      2
2      3
Name: a, dtype: int64

In [144]:
df

       a  b
0  10000  4
1      2  5
2      3  6

[Больше примеров](https://stackoverflow.com/questions/48173980/pandas-knowing-when-an-operation-affects-the-original-dataframe)